# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# production
/dist
/.vscode

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode

# visual studio code
.history
*.log
functions/*
.temp/**

# umi
.umi
.umi-production

# screenshot
screenshot
.firebase
.eslintcache

build
个人备份/deop-static.zip
个人备份/deop-static0728.zip
个人备份/dist0708.zip
个人备份/dist20200526_4.zip
个人备份/dist20200527.zip
个人备份/dist20200619.zip
个人备份/doep0717.zip
个人备份/doep20200730.zip
个人备份/deop-static0728/package.json
个人备份/deop-static0728/config/config.js
个人备份/deop-static0728/config/defaultSettings.js
个人备份/deop-static0728/config/plugin.config.js
个人备份/deop-static0728/config/themePluginConfig.js
个人备份/deop-static0728/src/app.ts
个人备份/deop-static0728/src/global.jsx
个人备份/deop-static0728/src/global.less
个人备份/deop-static0728/src/manifest.json
个人备份/deop-static0728/src/service-worker.js
个人备份/deop-static0728/src/assets/logo.svg
个人备份/deop-static0728/src/components/ActiveChart/index.js
个人备份/deop-static0728/src/components/ActiveChart/index.less
个人备份/deop-static0728/src/components/Authorized/Authorized.jsx
个人备份/deop-static0728/src/components/Authorized/AuthorizedRoute.jsx
个人备份/deop-static0728/src/components/Authorized/CheckPermissions.jsx
个人备份/deop-static0728/src/components/Authorized/index.jsx
个人备份/deop-static0728/src/components/Authorized/PromiseRender.jsx
个人备份/deop-static0728/src/components/Authorized/renderAuthorize.js
个人备份/deop-static0728/src/components/Authorized/Secured.jsx
个人备份/deop-static0728/src/components/Charts/autoHeight.js
个人备份/deop-static0728/src/components/Charts/bizcharts.d.ts
个人备份/deop-static0728/src/components/Charts/bizcharts.js
个人备份/deop-static0728/src/components/Charts/index.d.ts
个人备份/deop-static0728/src/components/Charts/index.js
个人备份/deop-static0728/src/components/Charts/index.less
个人备份/deop-static0728/src/components/Charts/index.md
个人备份/deop-static0728/src/components/Charts/Bar/index.d.ts
个人备份/deop-static0728/src/components/Charts/Bar/index.js
个人备份/deop-static0728/src/components/Charts/ChartCard/index.d.ts
个人备份/deop-static0728/src/components/Charts/ChartCard/index.js
个人备份/deop-static0728/src/components/Charts/ChartCard/index.less
个人备份/deop-static0728/src/components/Charts/demo/bar.md
个人备份/deop-static0728/src/components/Charts/demo/chart-card.md
个人备份/deop-static0728/src/components/Charts/demo/gauge.md
个人备份/deop-static0728/src/components/Charts/demo/mini-area.md
个人备份/deop-static0728/src/components/Charts/demo/mini-bar.md
个人备份/deop-static0728/src/components/Charts/demo/mini-pie.md
个人备份/deop-static0728/src/components/Charts/demo/mini-progress.md
个人备份/deop-static0728/src/components/Charts/demo/mix.md
个人备份/deop-static0728/src/components/Charts/demo/pie.md
个人备份/deop-static0728/src/components/Charts/demo/radar.md
个人备份/deop-static0728/src/components/Charts/demo/tag-cloud.md
个人备份/deop-static0728/src/components/Charts/demo/timeline-chart.md
个人备份/deop-static0728/src/components/Charts/demo/waterwave.md
个人备份/deop-static0728/src/components/Charts/Field/index.d.ts
个人备份/deop-static0728/src/components/Charts/Field/index.js
个人备份/deop-static0728/src/components/Charts/Field/index.less
个人备份/deop-static0728/src/components/Charts/Gauge/index.d.ts
个人备份/deop-static0728/src/components/Charts/Gauge/index.js
个人备份/deop-static0728/src/components/Charts/MiniArea/index.d.ts
个人备份/deop-static0728/src/components/Charts/MiniArea/index.js
个人备份/deop-static0728/src/components/Charts/MiniBar/index.d.ts
个人备份/deop-static0728/src/components/Charts/MiniBar/index.js
个人备份/deop-static0728/src/components/Charts/MiniProgress/index.d.ts
个人备份/deop-static0728/src/components/Charts/MiniProgress/index.js
个人备份/deop-static0728/src/components/Charts/MiniProgress/index.less
个人备份/deop-static0728/src/components/Charts/Pie/index.d.ts
个人备份/deop-static0728/src/components/Charts/Pie/index.js
个人备份/deop-static0728/src/components/Charts/Pie/index.less
个人备份/deop-static0728/src/components/Charts/Radar/index.d.ts
个人备份/deop-static0728/src/components/Charts/Radar/index.js
个人备份/deop-static0728/src/components/Charts/Radar/index.less
个人备份/deop-static0728/src/components/Charts/TagCloud/index.d.ts
个人备份/deop-static0728/src/components/Charts/TagCloud/index.js
个人备份/deop-static0728/src/components/Charts/TagCloud/index.less
个人备份/deop-static0728/src/components/Charts/TimelineChart/index.d.ts
个人备份/deop-static0728/src/components/Charts/TimelineChart/index.js
个人备份/deop-static0728/src/components/Charts/TimelineChart/index.less
个人备份/deop-static0728/src/components/Charts/WaterWave/index.d.ts
个人备份/deop-static0728/src/components/Charts/WaterWave/index.js
个人备份/deop-static0728/src/components/Charts/WaterWave/index.less
个人备份/deop-static0728/src/components/CountDown/index.d.ts
个人备份/deop-static0728/src/components/CountDown/index.en-US.md
个人备份/deop-static0728/src/components/CountDown/index.js
个人备份/deop-static0728/src/components/CountDown/index.zh-CN.md
个人备份/deop-static0728/src/components/CountDown/demo/simple.md
个人备份/deop-static0728/src/components/CustomizeCharts/图表说明.text
个人备份/deop-static0728/src/components/CustomizeCharts/Areanull.js
个人备份/deop-static0728/src/components/CustomizeCharts/Arearangeline.js
个人备份/deop-static0728/src/components/CustomizeCharts/Bardiverge.js
个人备份/deop-static0728/src/components/CustomizeCharts/Clusteredstacked.js
个人备份/deop-static0728/src/components/CustomizeCharts/Columnar.js
个人备份/deop-static0728/src/components/CustomizeCharts/ColumnarY.js
个人备份/deop-static0728/src/components/CustomizeCharts/Columncolor.js
个人备份/deop-static0728/src/components/CustomizeCharts/Curved.js
个人备份/deop-static0728/src/components/CustomizeCharts/Donut.js
个人备份/deop-static0728/src/components/CustomizeCharts/EdgeLine.js
个人备份/deop-static0728/src/components/CustomizeCharts/index.less
个人备份/deop-static0728/src/components/CustomizeCharts/Labelline.js
个人备份/deop-static0728/src/components/CustomizeCharts/LineChart.js
个人备份/deop-static0728/src/components/CustomizeCharts/Radialbar.js
个人备份/deop-static0728/src/components/CustomizeCharts/Range.js
个人备份/deop-static0728/src/components/CustomizeCharts/SeriesLine.js
个人备份/deop-static0728/src/components/CustomizeCharts/StackingArea.js
个人备份/deop-static0728/src/components/CustomizeCharts/Testcase.js
个人备份/deop-static0728/src/components/CustomizeCharts/Treecompactbox.js
个人备份/deop-static0728/src/components/CustomizeCharts/Wafflegrouped.js
个人备份/deop-static0728/src/components/DeptTree/说明.text
个人备份/deop-static0728/src/components/DeptTree/index.js
个人备份/deop-static0728/src/components/DeptTree/SelectID.js
个人备份/deop-static0728/src/components/DeptTree/SelectIDs.js
个人备份/deop-static0728/src/components/DeptTree/SelectPid.js
个人备份/deop-static0728/src/components/DescriptionList/Description.d.ts
个人备份/deop-static0728/src/components/DescriptionList/Description.js
个人备份/deop-static0728/src/components/DescriptionList/DescriptionList.js
个人备份/deop-static0728/src/components/DescriptionList/index.d.ts
个人备份/deop-static0728/src/components/DescriptionList/index.en-US.md
个人备份/deop-static0728/src/components/DescriptionList/index.js
个人备份/deop-static0728/src/components/DescriptionList/index.less
个人备份/deop-static0728/src/components/DescriptionList/index.zh-CN.md
个人备份/deop-static0728/src/components/DescriptionList/responsive.js
个人备份/deop-static0728/src/components/DescriptionList/demo/basic.md
个人备份/deop-static0728/src/components/DescriptionList/demo/vertical.md
个人备份/deop-static0728/src/components/Ellipsis/index.d.ts
个人备份/deop-static0728/src/components/Ellipsis/index.en-US.md
个人备份/deop-static0728/src/components/Ellipsis/index.js
个人备份/deop-static0728/src/components/Ellipsis/index.less
个人备份/deop-static0728/src/components/Ellipsis/index.test.js
个人备份/deop-static0728/src/components/Ellipsis/index.zh-CN.md
个人备份/deop-static0728/src/components/Ellipsis/demo/line.md
个人备份/deop-static0728/src/components/Ellipsis/demo/number.md
个人备份/deop-static0728/src/components/GlobalHeader/AvatarDropdown.jsx
个人备份/deop-static0728/src/components/GlobalHeader/index.less
个人备份/deop-static0728/src/components/GlobalHeader/NoticeIconView.jsx
个人备份/deop-static0728/src/components/GlobalHeader/RightContent.jsx
个人备份/deop-static0728/src/components/HeaderDropdown/index.jsx
个人备份/deop-static0728/src/components/HeaderDropdown/index.less
个人备份/deop-static0728/src/components/HeaderSearch/index.jsx
个人备份/deop-static0728/src/components/HeaderSearch/index.less
个人备份/deop-static0728/src/components/MenuTree/index.js
个人备份/deop-static0728/src/components/NoticeIcon/index.jsx
个人备份/deop-static0728/src/components/NoticeIcon/index.less
个人备份/deop-static0728/src/components/NoticeIcon/NoticeList.jsx
个人备份/deop-static0728/src/components/NoticeIcon/NoticeList.less
个人备份/deop-static0728/src/components/NumberInfo/index.d.ts
个人备份/deop-static0728/src/components/NumberInfo/index.en-US.md
个人备份/deop-static0728/src/components/NumberInfo/index.js
个人备份/deop-static0728/src/components/NumberInfo/index.less
个人备份/deop-static0728/src/components/NumberInfo/index.zh-CN.md
个人备份/deop-static0728/src/components/NumberInfo/demo/basic.md
个人备份/deop-static0728/src/components/PageHeaderWrapper/breadcrumb.js
个人备份/deop-static0728/src/components/PageHeaderWrapper/GridContent.d.ts
个人备份/deop-static0728/src/components/PageHeaderWrapper/GridContent.js
个人备份/deop-static0728/src/components/PageHeaderWrapper/GridContent.less
个人备份/deop-static0728/src/components/PageHeaderWrapper/index.d.ts
个人备份/deop-static0728/src/components/PageHeaderWrapper/index.js
个人备份/deop-static0728/src/components/PageHeaderWrapper/index.less
个人备份/deop-static0728/src/components/PageLoading/index.jsx
个人备份/deop-static0728/src/components/SelectLang/index.jsx
个人备份/deop-static0728/src/components/SelectLang/index.less
个人备份/deop-static0728/src/components/Selects/SelectArea.js
个人备份/deop-static0728/src/components/SysRole/SelectRole.js
个人备份/deop-static0728/src/components/TableList/index.less
个人备份/deop-static0728/src/components/TableList/TableListForm.js
个人备份/deop-static0728/src/components/TableList/TableListOperator.js
个人备份/deop-static0728/src/components/Trend/index.d.ts
个人备份/deop-static0728/src/components/Trend/index.js
个人备份/deop-static0728/src/components/Trend/index.less
个人备份/deop-static0728/src/components/Trend/index.md
个人备份/deop-static0728/src/components/Trend/demo/basic.md
个人备份/deop-static0728/src/components/Trend/demo/reverse.md
个人备份/deop-static0728/src/components/UserInfo/changepw.js
个人备份/deop-static0728/src/components/UserInfo/index.js
个人备份/deop-static0728/src/components/UserInfo/index.less
个人备份/deop-static0728/src/e2e/baseLayout.e2e.js
个人备份/deop-static0728/src/e2e/topMenu.e2e.js
个人备份/deop-static0728/src/e2e/__mocks__/antd-pro-merge-less.js
个人备份/deop-static0728/src/layouts/BasicLayout.jsx
个人备份/deop-static0728/src/layouts/BlankLayout.jsx
个人备份/deop-static0728/src/layouts/LoginLayout.jsx
个人备份/deop-static0728/src/layouts/LoginLayout.less
个人备份/deop-static0728/src/layouts/MenuContext.js
个人备份/deop-static0728/src/layouts/SecurityLayout.jsx
个人备份/deop-static0728/src/layouts/UserLayout.jsx
个人备份/deop-static0728/src/layouts/UserLayout.less
个人备份/deop-static0728/src/locales/en-US.js
个人备份/deop-static0728/src/locales/pt-BR.js
个人备份/deop-static0728/src/locales/zh-CN.js
个人备份/deop-static0728/src/locales/zh-TW.js
个人备份/deop-static0728/src/locales/en-US/component.js
个人备份/deop-static0728/src/locales/en-US/globalHeader.js
个人备份/deop-static0728/src/locales/en-US/menu.js
个人备份/deop-static0728/src/locales/en-US/pwa.js
个人备份/deop-static0728/src/locales/en-US/settingDrawer.js
个人备份/deop-static0728/src/locales/en-US/settings.js
个人备份/deop-static0728/src/locales/pt-BR/component.js
个人备份/deop-static0728/src/locales/pt-BR/globalHeader.js
个人备份/deop-static0728/src/locales/pt-BR/menu.js
个人备份/deop-static0728/src/locales/pt-BR/pwa.js
个人备份/deop-static0728/src/locales/pt-BR/settingDrawer.js
个人备份/deop-static0728/src/locales/pt-BR/settings.js
个人备份/deop-static0728/src/locales/zh-CN/component.js
个人备份/deop-static0728/src/locales/zh-CN/globalHeader.js
个人备份/deop-static0728/src/locales/zh-CN/menu.js
个人备份/deop-static0728/src/locales/zh-CN/monitor copy.js
个人备份/deop-static0728/src/locales/zh-CN/pwa.js
个人备份/deop-static0728/src/locales/zh-CN/settingDrawer.js
个人备份/deop-static0728/src/locales/zh-CN/settings.js
个人备份/deop-static0728/src/locales/zh-TW/component.js
个人备份/deop-static0728/src/locales/zh-TW/globalHeader.js
个人备份/deop-static0728/src/locales/zh-TW/menu.js
个人备份/deop-static0728/src/locales/zh-TW/pwa.js
个人备份/deop-static0728/src/locales/zh-TW/settingDrawer.js
个人备份/deop-static0728/src/locales/zh-TW/settings.js
个人备份/deop-static0728/src/models/deptree.js
个人备份/deop-static0728/src/models/global.js
个人备份/deop-static0728/src/models/login.js
个人备份/deop-static0728/src/models/setting.js
个人备份/deop-static0728/src/models/user.js
个人备份/deop-static0728/src/models/userchangpw.js
个人备份/deop-static0728/src/pages/404.jsx
个人备份/deop-static0728/src/pages/Admin.jsx
个人备份/deop-static0728/src/pages/Authorized.jsx
个人备份/deop-static0728/src/pages/document.ejs
个人备份/deop-static0728/src/pages/Welcome.jsx
个人备份/deop-static0728/src/pages/Welcome.less
个人备份/deop-static0728/src/pages/Account/AccountCenter/_mock.js
个人备份/deop-static0728/src/pages/Account/AccountCenter/Center.less
个人备份/deop-static0728/src/pages/Account/AccountCenter/data.d.ts
个人备份/deop-static0728/src/pages/Account/AccountCenter/index.jsx
个人备份/deop-static0728/src/pages/Account/AccountCenter/model.js
个人备份/deop-static0728/src/pages/Account/AccountCenter/service.js
个人备份/deop-static0728/src/pages/Account/AccountCenter/components/Applications/index.jsx
个人备份/deop-static0728/src/pages/Account/AccountCenter/components/Applications/index.less
个人备份/deop-static0728/src/pages/Account/AccountCenter/components/ArticleListContent/index.jsx
个人备份/deop-static0728/src/pages/Account/AccountCenter/components/ArticleListContent/index.less
个人备份/deop-static0728/src/pages/Account/AccountCenter/components/Articles/index.jsx
个人备份/deop-static0728/src/pages/Account/AccountCenter/components/Articles/index.less
个人备份/deop-static0728/src/pages/Account/AccountCenter/components/AvatarList/index.jsx
个人备份/deop-static0728/src/pages/Account/AccountCenter/components/AvatarList/index.less
个人备份/deop-static0728/src/pages/Account/AccountCenter/components/Projects/index.jsx
个人备份/deop-static0728/src/pages/Account/AccountCenter/components/Projects/index.less
个人备份/deop-static0728/src/pages/Alarmmanage/Connector.js
个人备份/deop-static0728/src/pages/Alarmmanage/Details.js
个人备份/deop-static0728/src/pages/Alarmmanage/DetailView.js
个人备份/deop-static0728/src/pages/Alarmmanage/index.jsx
个人备份/deop-static0728/src/pages/Alarmmanage/KAFKA.js
个人备份/deop-static0728/src/pages/Alarmmanage/NoticeSetting.js
个人备份/deop-static0728/src/pages/Alarmmanage/NotifyGroup.js
个人备份/deop-static0728/src/pages/Alarmmanage/NotifyPerson.js
个人备份/deop-static0728/src/pages/Alarmmanage/Quotas.js
个人备份/deop-static0728/src/pages/Alarmmanage/SysRun.js
个人备份/deop-static0728/src/pages/Alarmmanage/SysSetting.js
个人备份/deop-static0728/src/pages/Alarmmanage/components/AlarmHistory.js
个人备份/deop-static0728/src/pages/Alarmmanage/components/AlarmInfo.js
个人备份/deop-static0728/src/pages/Alarmmanage/components/NoticHistory.js
个人备份/deop-static0728/src/pages/Alarmmanage/components/OperationRecord.js
个人备份/deop-static0728/src/pages/Alarmmanage/models/alarmdetails.js
个人备份/deop-static0728/src/pages/Alarmmanage/models/alarmrule.js
个人备份/deop-static0728/src/pages/Alarmmanage/models/chart.js
个人备份/deop-static0728/src/pages/Alarmmanage/services/api.js
个人备份/deop-static0728/src/pages/Automation/Colony.js
个人备份/deop-static0728/src/pages/Automation/Colony.less
个人备份/deop-static0728/src/pages/Automation/JobExecut.js
个人备份/deop-static0728/src/pages/Automation/Monitor.js
个人备份/deop-static0728/src/pages/Automation/Monitor.less
个人备份/deop-static0728/src/pages/Automation/OpsScene.js
个人备份/deop-static0728/src/pages/Automation/OpsScene.less
个人备份/deop-static0728/src/pages/Automation/ResourceManage.js
个人备份/deop-static0728/src/pages/Automation/ScriptManage.js
个人备份/deop-static0728/src/pages/Automation/Timedjob.js
个人备份/deop-static0728/src/pages/Automation/ViewJob.js
个人备份/deop-static0728/src/pages/Automation/WorkFlow.js
个人备份/deop-static0728/src/pages/Automation/components/DoJob.js
个人备份/deop-static0728/src/pages/Automation/components/ReportModal.js
个人备份/deop-static0728/src/pages/Automation/components/ResourcesDrawer.js
个人备份/deop-static0728/src/pages/Automation/components/ScenesDrawer.js
个人备份/deop-static0728/src/pages/Automation/components/ScriptDrawer.js
个人备份/deop-static0728/src/pages/Automation/models/download.js
个人备份/deop-static0728/src/pages/Automation/models/jobsmanage.js
个人备份/deop-static0728/src/pages/Automation/models/monitor.js
个人备份/deop-static0728/src/pages/Automation/models/opsscenes.js
个人备份/deop-static0728/src/pages/Automation/models/resources.js
个人备份/deop-static0728/src/pages/Automation/models/scriptmanage.js
个人备份/deop-static0728/src/pages/Automation/services/api.js
个人备份/deop-static0728/src/pages/Automation/services/apisecene.js
个人备份/deop-static0728/src/pages/collection/monitorConfig/index.jsx
个人备份/deop-static0728/src/pages/collection/monitorConfig/service.js
个人备份/deop-static0728/src/pages/collection/monitorConfig/components/CreateForm.jsx
个人备份/deop-static0728/src/pages/collection/monitorConfig/components/UpdateForm.jsx
个人备份/deop-static0728/src/pages/Monitormanage/index.css
个人备份/deop-static0728/src/pages/Monitormanage/index.js
个人备份/deop-static0728/src/pages/Monitormanage/components/DrawerList.js
个人备份/deop-static0728/src/pages/Monitormanage/components/ListDatabase.js
个人备份/deop-static0728/src/pages/Monitormanage/components/ListHost.js
个人备份/deop-static0728/src/pages/Monitormanage/MeasurMonitor/Collection.js
个人备份/deop-static0728/src/pages/Monitormanage/MeasurMonitor/DatabaseTerminal.js
个人备份/deop-static0728/src/pages/Monitormanage/MeasurMonitor/Fafak.js
个人备份/deop-static0728/src/pages/Monitormanage/MeasurMonitor/FafakMatinal.js
个人备份/deop-static0728/src/pages/Monitormanage/MeasurMonitor/index.js
个人备份/deop-static0728/src/pages/Monitormanage/MeasurMonitor/MeasurFace.js
个人备份/deop-static0728/src/pages/Monitormanage/MeasurMonitor/SysRunning.js
个人备份/deop-static0728/src/pages/Monitormanage/MeasurMonitor/models/collection.js
个人备份/deop-static0728/src/pages/Monitormanage/MeasurMonitor/models/databaseterminal.js
个人备份/deop-static0728/src/pages/Monitormanage/MeasurMonitor/models/fafak.js
个人备份/deop-static0728/src/pages/Monitormanage/MeasurMonitor/models/fafakmatinal.js
个人备份/deop-static0728/src/pages/Monitormanage/MeasurMonitor/models/measur.js
个人备份/deop-static0728/src/pages/Monitormanage/MeasurMonitor/models/measurface.js
个人备份/deop-static0728/src/pages/Monitormanage/MeasurMonitor/services/api.js
个人备份/deop-static0728/src/pages/Monitormanage/models/monitorlist.js
个人备份/deop-static0728/src/pages/Monitormanage/monitorStation/components/monitorDetail.jsx
个人备份/deop-static0728/src/pages/Monitormanage/monitorStation/components/oracle.jsx
个人备份/deop-static0728/src/pages/Monitormanage/monitorStation/components/system.jsx
个人备份/deop-static0728/src/pages/Monitormanage/services/api.js
个人备份/deop-static0728/src/pages/Monitormanage/services/opssecene.js
个人备份/deop-static0728/src/pages/SysManage/Client.js
个人备份/deop-static0728/src/pages/SysManage/data.js
个人备份/deop-static0728/src/pages/SysManage/DeptManage.js
个人备份/deop-static0728/src/pages/SysManage/EditableTree.less
个人备份/deop-static0728/src/pages/SysManage/EditTable.js
个人备份/deop-static0728/src/pages/SysManage/index.js
个人备份/deop-static0728/src/pages/SysManage/MenuManage.js
个人备份/deop-static0728/src/pages/SysManage/RoleManage.js
个人备份/deop-static0728/src/pages/SysManage/style.less
个人备份/deop-static0728/src/pages/SysManage/SystemManage.js
个人备份/deop-static0728/src/pages/SysManage/SysuserMangage.js
个人备份/deop-static0728/src/pages/SysManage/TableForm.js
个人备份/deop-static0728/src/pages/SysManage/todo.js
个人备份/deop-static0728/src/pages/SysManage/components/DatatoDree.js
个人备份/deop-static0728/src/pages/SysManage/components/DepData.js
个人备份/deop-static0728/src/pages/SysManage/components/DeptList.js
个人备份/deop-static0728/src/pages/SysManage/components/DeptModal.js
个人备份/deop-static0728/src/pages/SysManage/components/MenuModal.js
个人备份/deop-static0728/src/pages/SysManage/components/MenuTransfer.js
个人备份/deop-static0728/src/pages/SysManage/components/ReloModal.js
个人备份/deop-static0728/src/pages/SysManage/components/RoleMenu.js
个人备份/deop-static0728/src/pages/SysManage/components/RoleTransfer.js
个人备份/deop-static0728/src/pages/SysManage/components/SelectData.js
个人备份/deop-static0728/src/pages/SysManage/components/son.js
个人备份/deop-static0728/src/pages/SysManage/components/TreeData.js
个人备份/deop-static0728/src/pages/SysManage/components/UserNew.js
个人备份/deop-static0728/src/pages/SysManage/components/UserRole.js
个人备份/deop-static0728/src/pages/SysManage/components/UserUpdate.js
个人备份/deop-static0728/src/pages/SysManage/components/UserView.js
个人备份/deop-static0728/src/pages/SysManage/models/autmanage.js
个人备份/deop-static0728/src/pages/SysManage/models/reports.js
个人备份/deop-static0728/src/pages/SysManage/models/rolemenu.js
个人备份/deop-static0728/src/pages/SysManage/models/upmsdept.js
个人备份/deop-static0728/src/pages/SysManage/models/upmsmenu.js
个人备份/deop-static0728/src/pages/SysManage/models/upmsrole.js
个人备份/deop-static0728/src/pages/SysManage/models/usernanage.js
个人备份/deop-static0728/src/pages/SysManage/models/userrole.js
个人备份/deop-static0728/src/pages/SysManage/services/api.js
个人备份/deop-static0728/src/pages/SysManage/Usermanage/CurrCenter.js
个人备份/deop-static0728/src/pages/SysManage/Usermanage/models/curruserinfo.js
个人备份/deop-static0728/src/pages/SysManage/Usermanage/services/api.js
个人备份/deop-static0728/src/pages/user/login/index.jsx
个人备份/deop-static0728/src/pages/user/login/login.less
个人备份/deop-static0728/src/pages/user/login/style.less
个人备份/deop-static0728/src/pages/user/login/components/Login/index.jsx
个人备份/deop-static0728/src/pages/user/login/components/Login/index.less
个人备份/deop-static0728/src/pages/user/login/components/Login/LoginContext.jsx
个人备份/deop-static0728/src/pages/user/login/components/Login/LoginItem.jsx
个人备份/deop-static0728/src/pages/user/login/components/Login/LoginSubmit.jsx
个人备份/deop-static0728/src/pages/user/login/components/Login/LoginTab.jsx
个人备份/deop-static0728/src/pages/user/login/components/Login/map.jsx
个人备份/deop-static0728/src/pages/user/login/images/bg.png
个人备份/deop-static0728/src/pages/user/login/images/loginbg.png
个人备份/deop-static0728/src/pages/user/login/images/logo.png
个人备份/deop-static0728/src/pages/user/login/locales/en-US.js
个人备份/deop-static0728/src/pages/user/login/locales/zh-CN.js
个人备份/deop-static0728/src/pages/user/login/locales/zh-TW.js
个人备份/deop-static0728/src/services/api.js
个人备份/deop-static0728/src/services/login.js
个人备份/deop-static0728/src/services/user.js
个人备份/deop-static0728/src/utils/authority.js
个人备份/deop-static0728/src/utils/authority.test.js
个人备份/deop-static0728/src/utils/Authorized.js
个人备份/deop-static0728/src/utils/request.js
个人备份/deop-static0728/src/utils/utils.js
个人备份/deop-static0728/src/utils/utils.less
个人备份/deop-static0728/src/utils/utils.test.js
