@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-header {
  background: #0366c3;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: #0366c3;
}

.ant-pro-top-nav-header-logo {
  min-width: 220px;
  margin-right: 24px;
}

.ant-pro-top-nav-header-logo h1 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 0 6px;
}

.ant-layout .ant-layout {
  min-height: calc(100vh - 207px);
  position: 'fixed';
}

.ant-cascader-menu {
  height: 300px;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

.toptabs {
  :global {
    .ant-tabs-nav-scroll {
      margin: 0 -24px;
    }
  }
}
