@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

body {
  color: rgba(0, 0, 0, 0.85);
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-header {
  background: #0366c3;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: #0366c3;
}

.ant-pro-top-nav-header-logo {
  min-width: 220px;
  margin-right: 24px;
}

.ant-pro-top-nav-header-logo h1 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 0 6px;
}

.ant-layout .ant-layout {
  min-height: calc(100vh - 257px);
  position: 'fixed';
}

.ant-input[disabled] {
  color: rgba(0, 0, 0, 0.65);
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  padding: 12px 12px;
}

.ant-form-explain{
  display: none;
}
.ant-form-explain, .ant-form-extra{
min-height: 16px;
}

.ant-form-item{
  margin-bottom:2px
}
.ant-form-item-with-help{
 margin-bottom: 0;
}

.ant-form-item-label>label {
  color: rgba(0, 0, 0, 85);
}

.ant-table-thead>tr>th {
  color: rgba(0, 0, 0, 0.85);
}

.ant-table {
  color: rgba(0, 0, 0, 0.85);
}

.ant-btn-dashed {
  color: rgba(0, 0, 0, 0.85);
}

.ant-menu {
  color: rgba(0, 0, 0, 0.85);
}

.ant-tabs {
  color: rgba(0, 0, 0, 0.85);
}

.ant-card-head .ant-tabs {
  color: rgba(0, 0, 0, 0.85);
}

.ant-radio-button-wrapper {
  color: rgba(0, 0, 0, 0.85);
}

.ant-pagination {
  color: rgba(0, 0, 0, 0.85);
}

.ant-breadcrumb {
  color: rgba(0, 0, 0, 0.65);
}

.ant-breadcrumb>span:last-child {
  color: rgba(0, 0, 0, 0.85);
}

.ant-breadcrumb>span:last-child a {
  color: rgba(0, 0, 0, 0.85);
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item>a {
  color: rgba(255, 255, 255, 0.85);
}

.ant-descriptions-item-content {
  color: rgba(0, 0, 0, 0.85);
}

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
  color: rgba(0, 0, 0, 0.85);
}

.ant-menu-item>a {
  color: rgba(0, 0, 0, 0.85);
}

.ant-radio-disabled+span {
  color: rgba(0, 0, 0, 0.85);
  cursor: not-allowed;
}

.ant-tabs-bar{
  margin: 0 0 8px 0;
}

.ant-list {
  color: rgba(0, 0, 0, 0.85);
}

.ant-input-group {
  color: rgba(0, 0, 0, 0.85);
}

.ant-select-disabled {
  color: rgba(0, 0, 0, 0.65);
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-disabled {
  color: rgba(0, 0, 0, 0.65);
}

.ant-checkbox-disabled+span {
  color: rgba(0, 0, 0, 0.45);
}

.ant-form-item>.ant-col-sm-2 {
  margin-left: -4px;
}

.ant-cascader-menu {
  height: 300px;
}

.w-e-text table td,
.w-e-text table th {
  height: 40px;
}

.ant-form {
  color: rgba(0, 0, 0, 1);
}

.w-e-text-container {
  min-height: calc(100vh - 550px);
}

.ant-statistic-content-value-int {
  font-size: 30px;
  font-weight: 500;
  color: #0366c3;
}

.ant-page-header{
  padding: 8px 16px 12px 16px;
}

.ant-page-header-footer{
  margin-top: 0px;
}

.ant-pro-page-header-wrap .ant-page-header.has-breadcrumb{
  padding-top: 0;
}

.ant-pro-page-header-wrap  .ant-pro-page-header-wrap-children-content{
  margin:16px 12px 0
}

.ant-breadcrumb + .ant-page-header-heading{
  margin-top: 0;
}
.antd-pro-pages-i-t-s-m-eventmanage-index-collapse .ant-collapse-borderless > .ant-collapse-item{
  margin-top: 16px;
}
.ant-modal{
  color: rgba(0, 0, 0, 1);
}
.ant-checkbox-group{
  color: rgba(0, 0, 0, 1);  
}
.ant-checkbox-wrapper{
  color: rgba(0, 0, 0, 1);
}
.ant-modal-body #user .ant-checkbox-group .ant-checkbox-wrapper{
  width: 120px;
}
.ant-form-item .ant-col-sm-24{
  line-height: 30px;
}
.ant-select-auto-complete.ant-select .ant-input[disabled] {
  color: rgba(0, 0, 0, 0.65);
}
.ant-select-disabled .ant-select-selection--multiple .ant-select-selection__choice{
  color: rgba(0, 0, 0, 0.65);
}
// label换行
// .ant-form-item-label label{
//   padding-right: 16px;
//   word-wrap:break-word;
//   ::before{
//     content: none !important;
//   }
// }
.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #C1EB08;    // 这个配色绝了
  border: 2px solid #10C510;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
  color: #10C510;
//  background-color: #C1EB08;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
  background-color: #10C510;
}
.ant-steps-item-process .ant-steps-item-icon{
  background-color: #10C510;
}
.ant-steps-item-custom.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon{
  color: #10C510;
  }

  .ant-steps:not(.ant-steps-vertical) .ant-steps-item-custom .ant-steps-item-icon {
    width: auto;
    background-color: #C1EB08;
    border-radius: 50%;
}
// .ant-steps-item-process .ant-steps-item-icon{
//   background-color: #52c41a;
// }
// .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
//   background-color: #52c41a;
// }
// .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon{
//   color: #52c41a; 
// }
// .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title{
//   color: rgba(0, 0, 0, 0.85);
// }
canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

.toptabs {
  :global {
    .ant-tabs-nav-scroll {
      margin: 0 -24px;
    }
  }
}
